/*UTILS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

/*APP TOP*/
#app-top {
  background-color: #141922;
  height: calc(100vh - 120px);
  display: flex;
}

/*APP PLAYER*/
#app-player {
  background-color: #282828;
  height: 120px;
}

/*APP NAVBAR*/
#app-navbar {
  width: 300px;
  background-color: #000000;
}

/*APP MAIN*/
#app-main {
  height: calc(100vh - 100px);
  flex-grow: 1;
  overflow: auto;
}

/*UPGRADE BAR*/
#upgrade-bar {
  background-color: #080b12;
  height: 100px;
}

.upgrade-bar-button {
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}

/*UPGRADE BAR*/
#menu {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

#menu li {
  padding: 15px;
}

.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-bottom: 20px;
}

/*CARDS*/

.card {
  width: calc(100% / 6);
  height: 200px;
  padding: 10px;
}

.card-img {
  padding: 20px;
}

.card-first-name {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 5px;
  text-align: center;
}

.card-second-name {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}

.second-section .title {
  margin-top: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.min-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding-top: 10px;
}
